.posts {
  color: #e6e6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.postArticle {
  text-align: left;
  border: 0.1rem #556b2f solid;
  background-color: #556b2f;
  width: 50rem;
  padding-left: 2rem;
  border-radius: 2rem;
  padding-right: 1rem;
}

.postArticle h2 {
  color: #33006f;
  display: flex;
  justify-content: space-between;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.postDelBtn {
  background-color: #dc143c;
  color: #317873;
}
.postDelBtn:hover {
  background-color: #ff0000;
}

.postEdtBtn {
  background-color: #febe10;
  color: #317873;
}
.postEdtBtn:hover {
  background-color: #ffff00;
}
